<table class="table table-bordered">
    <tbody>
        <tr>
            <td>Customer</td>
            <td>{{customer}}</td>
        </tr>
        <tr>
            <td>Guest</td>
            <td>{{guest}}</td>
        </tr>
        <tr>
            <td>Contact No:</td>
            <td>{{mobile_no}}</td>
        </tr>
        <tr>
            <td>Room #</td>
            <td>{{room_no}}</td>
        </tr>
        <tr>
            <td>R</td>
            <td>{rate}</td>
        </tr>
        <tr>
            <td>WNR</td>
            <td>{weekend_rate}</td>
        </tr>
        <tr>
            <td>Total Nights</td>
            <td>{{total_nights}}</td>
        </tr>
        <tr>
            <td>Total Stay Cost</td>
            <td>{{total_charges}}</td>
        </tr>
        <tr>
            <td>Advance</td>
            <td>{{total_advance_paid}}</td>
        </tr>
    </tbody>
</table>
<!-- 
name: "HMS-RR-20-00006"
room_type: "CLSX-SH"
customer: "Tata Airlines"
guest: ""
check_out: "2020-03-31 00:00:00"
check_in: "2020-03-29 00:00:00"
room_no: "301-SH"
reservation: "SAL-ORD-2020-00010"
status: "Checked In"
total_charges: 0
total_advance_paid: 0 -->