<div style="position: relative">

    {%- from "templates/print_formats/standard_macros.html" import add_header -%}
    <div class="page-break">
        {%- if not doc.get("print_heading") and not doc.get("select_print_heading") 
        and doc.set("select_print_heading", _("Sign In Form")) -%}{%- endif -%}
        {{ add_header(0, 1, doc, letter_head, no_letterhead) }}
    </div>
</div>
<style type="text/css">
    .tg {
        border-collapse: collapse;
        border-spacing: 0;
    }

    .tg td {
        font-family: Arial, sans-serif;
        font-size: 14px;
        padding: 10px 5px;
        border-style: solid;
        border-width: 1px;
        overflow: hidden;
        word-break: normal;
        border-color: black;
    }

    .tg th {
        font-family: Arial, sans-serif;
        font-size: 14px;
        font-weight: normal;
        padding: 10px 5px;
        border-style: solid;
        border-width: 1px;
        overflow: hidden;
        word-break: normal;
        border-color: black;
    }

    .tg .tg-y6fn {
        background-color: #c0c0c0;
        text-align: left;
        vertical-align: top
    }

    .tg .tg-0lax {
        text-align: left;
        vertical-align: top
    }

    .tg .tg-qika {
        background-color: #c0c0c0;
        color: #efefef;
        text-align: left;
        vertical-align: top
    }
</style>
<table class="tg" style="undefined;table-layout: fixed; width: 690px">
    <colgroup>
        <col style="width: 161px">
        <col style="width: 25px">
        <col style="width: 25px">
        <col style="width: 91px">
        <col style="width: 21px">
        <col style="width: 106px">
        <col style="width: 120px">
        <col style="width: 141px">
    </colgroup>
    <tr>
        <th class="tg-y6fn" colspan="4">GUEST INFORMATION</th>
        <th class="tg-0lax" rowspan="7"></th>
        <th class="tg-qika" colspan="3"><span style="color:rgb(51, 51, 51)">STAY INFORMATION</span><br></th>
    </tr>
    <tr>
        <td class="tg-0lax" colspan="4">Full Name : </td>
        <td class="tg-0lax">Check In</td>
        <td class="tg-0lax">Check Out</td>
        <td class="tg-0lax">Adults/Child</td>
    </tr>
    <tr>
        <td class="tg-0lax" colspan="4">{doc.guest_full_name}</td>
        <td class="tg-0lax">{{doc.check_in}}</td>
        <td class="tg-0lax">{{doc.check_out}}</td>
        <td class="tg-0lax">{doc.total_guest}</td>
    </tr>
    <tr>
        <td class="tg-0lax" colspan="4">Address :</td>
        <td class="tg-0lax">Weekday</td>
        <td class="tg-0lax">Weekend</td>
        <td class="tg-0lax">Tax Exempt</td>
    </tr>
    <tr>
        <td class="tg-0lax" colspan="4" rowspan="3">{doc.guest_address_display}</td>
        <td class="tg-0lax">{doc.total_amount_weekdays}</td>
        <td class="tg-0lax">{doc.total_amount_weekends}</td>
        <td class="tg-0lax">NO</td>
    </tr>
    <tr>
        <td class="tg-0lax">Conf#</td>
        <td class="tg-0lax" colspan="2">Room/Room Type</td>
    </tr>
    <tr>
        <td class="tg-0lax">{{doc.name}}</td>
        <td class="tg-0lax" colspan="2">{{doc.room_no}}/{{doc.room_type}}</td>
    </tr>
    <tr>
        <td class="tg-y6fn" colspan="5">OTHER INFORMATION</td>
        <td class="tg-0lax"></td>
        <td class="tg-y6fn" colspan="2">TOTAL STAY INFORMATION</td>
    </tr>
    <tr>
        <td class="tg-0lax" colspan="3">Car Make/Model</td>
        <td class="tg-0lax" colspan="2">Plate</td>
        <td class="tg-0lax"></td>
        <td class="tg-0lax">Total Room:</td>
        <td class="tg-0lax">{doc.total_room_charges}</td>
    </tr>
    <tr>
        <td class="tg-0lax" colspan="3"></td>
        <td class="tg-0lax" colspan="2"></td>
        <td class="tg-0lax"></td>
        <td class="tg-0lax">Other Charges:</td>
        <td class="tg-0lax">{doc.total_other_charges}</td>
    </tr>
    <tr>
        <td class="tg-0lax" colspan="5">Payment Information</td>
        <td class="tg-0lax"></td>
        <td class="tg-0lax">Total Tax:</td>
        <td class="tg-0lax">{doc.total_taxes_and_charges}</td>
    </tr>
    {% if frappe.utils.cint(doc.discount_amount) %}
    <tr>
        <td class="tg-0lax" colspan="5">{doc.mode_of_payment}</td>
        <td class="tg-0lax"></td>
        <td class="tg-0lax">Total Discount:</td>
        <td class="tg-0lax">{doc.discount_amount}</td>
    </tr>
    {% endif %}
    <tr>
        <td class="tg-0lax" colspan="5">{% if not frappe.utils.cint(doc.discount_amount) %} {doc.mode_of_payment}
            {% endif %}</td>
        <td class="tg-0lax"></td>
        <td class="tg-0lax">Total Stay:</td>
        <td class="tg-0lax">{doc.total_charges}</td>
    </tr>
    <tr>
        <td class="tg-0lax" colspan="3">Email Addresses:</td>
        <td class="tg-0lax" colspan="2">Phone No</td>
        <td class="tg-0lax"></td>
        <td class="tg-0lax">Payments:</td>
        <td class="tg-0lax">{doc.total_advance_paid}</td>
    </tr>
    <tr>
        <td class="tg-0lax" colspan="3">{doc.guest_email}</td>
        <td class="tg-0lax" colspan="2">{doc.guest_mobile}</td>
        <td class="tg-0lax"></td>
        <td class="tg-0lax"><span style="font-weight:bold">Balance Due:</span></td>
        <td class="tg-0lax">{doc.balance}</td>
    </tr>
</table>
<div>
    {doc.terms}
</div>