<div class="sign-in">
    <div class="row">
        <div class="col col-sm-5">
            <div class="boxed">
                <div class="row">
                    <div class="col col-sm-12 section-title">
                        GUEST INFORMATION
                    </div>
                </div>
                <div class="row">
                    <div class="col col-sm-12 border-bot">
                        <h6>Full Name </h6> {{ctx.guest_full_name}}
                    </div>
                </div>
                <div class="row">
                    <div class="col col-sm-12 border-bot">
                        <h6>Address </h6> {{ctx.guest_address_display or "No Address"}}
                    </div>
                </div>
            </div>
        </div>
        <div class="col col-sm-7">
            <div class="boxed">


                <div class="col col-sm-12 section-title">
                    STAY INFORMATION
                </div>
                <div class="row">
                    <div class="col col-sm-4 border-bot">
                        <h6>Check In</h6> {{frappe.utils.format_datetime(doc.check_in,"MM/dd/yyyy E")}}
                    </div>
                    <div class="col col-sm-4 border-bot">
                        <h6>Check Out</h6> {{frappe.utils.format_datetime(doc.check_out,"MM/dd/yyyy E")}}
                    </div>
                    <div class="col col-sm-4 border-bot">
                        <h6>Adults/Child</h6> {{ctx.total_guest}}
                    </div>
                </div>
                <div class="row">
                    <div class="col col-sm-4 border-bot">
                        <h6>Weekday</h6> {{ctx.total_amount_weekdays | int}}
                    </div>
                    <div class="col col-sm-4 border-bot">
                        <h6>Weekend</h6> {{ctx.total_amount_weekends | int}}
                    </div>
                    <div class="col col-sm-4 border-bot">
                        <h6>Tax Exempt</h6> NO
                    </div>
                </div>
                <div class="row">
                    <div class="col col-sm-4 border-bot">
                        <h6>Conf #</h6> {{doc.room_no}}
                    </div>
                    <div class="col col-sm-8 border-bot">
                        <h6>Room/Room Type </h6> {{doc.room_type}}
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="row" style="margin-top: 15px;">
        <div class="col col-sm-8">
            <div class="boxed">
                <div class="row">
                    <div class="col col-sm-12 section-title">
                        OTHER INFORMATION
                    </div>
                </div>
                <div class="row">
                    <div class="col col-sm-6 border-bot">
                        <h6>Car Make/Model</h6> {{doc.car_make_model or "-"}}
                    </div>
                    <div class="col col-sm-6 border-bot">
                        <h6>Plate </h6> {{doc.registration_plate_no or "-"}}
                    </div>
                </div>
                <div class="row">
                    <div class="col col-sm-12 border-bot">
                        <h6>Payment Information </h6> {{doc.payment_information or "-"}}
                    </div>
                </div>
                <div class="row">
                    <div class="col col-sm-6 border-bot">
                        <h6>Email</h6> {{ctx.guest_email or ""}}
                    </div>
                    <div class="col col-sm-6 border-bot">
                        <h6>Phone No </h6> {{ctx.guest_mobile or ""}}
                    </div>
                </div>
            </div>

        </div>
        <div class="col col-sm-4">
            <div class="boxed">
                <div class="row">
                    <div class="col col-sm-12 section-title">
                        TOTAL STAY INFORMATION
                    </div>
                </div>
                <div class="row">
                    <div class="col col-sm-12">
                        <table class="table table-condensed">
                            <colgroup>
                                <col style="width:60%;">
                                <col style="width:40%;">
                            </colgroup>
                            <tbody>
                                <tr>
                                    <td>Total Room</td>
                                    <td class="text-right">{{ctx.total_room_charges}}</td>
                                </tr>
                                <tr>
                                    <td>Other Charges</td>
                                    <td class="text-right">{{ctx.total_other_charges}}</td>
                                </tr>
                                <tr>
                                    <td>Total Tax</td>
                                    <td class="text-right">{{ctx.total_taxes_and_charges}}</td>
                                </tr>
                                {% if frappe.utils.cint(doc.discount_amount) %}
                                <tr>
                                    <td>Discount Amount</td>
                                    <td class="text-right">{{ctx.discount_amount}}</td>
                                </tr>
                                {% endif %}
                                <tr>
                                    <td>Total Stay</td>
                                    <td class="text-right">{{ctx.total_charges}}</td>
                                </tr>
                                <!-- <tr>
                                    <td>Payments</td>
                                    <td class="text-right"></td>
                                </tr>
                                <tr>
                                    <td>Balance Due</td>
                                    <td class="text-right"></td>
                                </tr> -->
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- terms -->
    <div>
        <p><strong>{{frappe.utils.format_datetime(ctx.sign_in_date, "MM/dd/yyyy E")}}</strong></p>
        <center>
            <h4>PLEASE READ AND SIGN</h4>
        </center>
        {{ctx.terms}}
    </div>

</div>

<style>
    .sign-in {
        font-size: 12px;
    }

    .sign-in h6 {
        margin-bottom: 3px;
    }

    .section-title {
        /* background-color: #cccccc; */
        font-size: 14px;
        font-weight: bold;
    }

    .border-bot {
        margin-bottom: 5px;
        border-bottom: 1px solid #cecece;
    }

    .boxed {
        border: 1px solid darkgray;
        padding: 6px;
        /* background-color: peru; */
    }

    .boxed .row {
        /* background-color: pink; */
        margin: 0px;
        padding: 3px;
    }
</style>