/* frontdesk reservation status  */

.hms-in-house {
  background-color: mediumseagreen !important;
}

.hms-non-guaranteed {
  background-color: #97d7de !important;
}

.hms-guaranteed {
  background-color: #97d7de !important;
}

/* frontdesk header */

.ag-header-weekend {
  background-color: orange;
}

.ag-header-holiday {
  background-color: red;
}

.ag-header-today {
  background-color: purple;
}

.hms-to-charge {
  background-color: #ffc107 !important;
}

.ag-header-cell-label .ag-header-cell-text {
  color: #666666;
}
