.hms-to-charge {
  background-color: #ffc107 !important;
}

.hms-occupied,
.hms-in-house {
  background-color: mediumseagreen !important;
}

.hms-dirty {
  background-color: #fff69c !important;
}

.hms-disabled {
  background-color: #c8c8c8 !important;
}

.hms-reserved {
  background-color: #97d7de !important;
}

.ag-header-cell-label .ag-header-cell-text {
  font-weight: bold;
  color: #000000;
}
