.hms-to-charge {
  background-color: #ffc107 !important;
}

.hms-occupied,
.hms-in-house {
  background-color: mediumseagreen !important;
}

.hms-dirty {
  background-color: #fff69c !important;
}

.hms-available {
  background-color: #cccccc !important;
}

.hms-reserved {
  background-color: #cccccc !important;
}

.ag-header-cell-label .ag-header-cell-text {
  font-weight: bold;
  color: #000000;
}
